:root {
	max-width: 84rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: anti-aliased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  color: inherit;
  background-color: inherit;
}

a {
	font-weight: 600;
	text-decoration: none;
}

a:hover {
  color: #9999FF;
}


nav {
	margin: auto;
	text-align: center;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav li {
	padding: 0 .5rem;
}

.movie-app .row {
	overflow-x: auto;
	flex-wrap: nowrap;
	-ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
	scrollbar-width: none;  /* Hide scrollbar Firefox */ 
}

.movie-app .row::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.movie-app .row .img-box {
	padding: 1rem;
	height: 30rem;
	width: 18rem;
	/* border: 1px solid yellow; */
}

.movie-app .row img {
	height: 23rem;
	width: 16rem;
	padding-bottom: 1rem;
}

.noimg {
	margin: 0;
	padding: 50% 1rem;
	margin-bottom: 1rem;
	height: 22rem;
	width: 16rem;
	color: red;
	font-size: 1.8rem;
	font-weight: 600;
	place-items: center;
	background-color: #444466;
}
