:root {
	max-width: 84rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: anti-aliased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  color: inherit;
  background-color: inherit;
}

a {
	font-weight: 600;
	text-decoration: none;
}

a:hover {
  color: #9999FF;
}


nav {
	margin: auto;
	text-align: center;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav li {
	padding: 0 .5rem;
}

.movie-app .row {
	overflow-x: auto;
	flex-wrap: nowrap;
	-ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
	scrollbar-width: none;  /* Hide scrollbar Firefox */ 
}

.movie-app .row::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.movie-app .row img {
	max-height: 22rem;
	min-height: 20rem;
	max-width: 16rem;
	width: auto;
	padding: 1rem;
}

.movie-app .row .noimg {
	margin: 1rem;
	padding: 1rem;
	height: 20rem;
	width: 14rem;
	background-color: #444466;
}

.movie-app .row .noimg p {
	height: 50%;
	margin-bottom: 10%;
	overflow: hidden;
}

.movie-app .row .noimg .na {
	color: red;
	font-size: 1.8rem;
	font-weight: 600;
}